<!DOCTYPE html>
<html>
    <head>
        <style></style>
    </head>
    <body>
        <my-element></my-element>
        <script>
            window.customElements.whenDefined('my-element').then((customElementConstructor) => {
                console.log(typeof customElementConstructor);
                console.log(customElementConstructor + ' is defined');
                document.body.append(new customElementConstructor());
            });
            class MyElement extends HTMLElement {
                constructor() {
                    super();
                    this.attachShadow({mode: 'open'});
                    this.shadowRoot.innerHTML = '<span>abc</span>';
                }
            }
            window.setTimeout(() => {
                window.customElements.define('my-element', MyElement);
            }, 5000);
        </script>
    </body>
</html>
